@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-700);
}

:root {
  --color-button-text: #fff;

  --color-accent: #0a84ff;
  --color-accent-hover: #51a8ff;
  --color-accent-disabled: #51a8ff;
  --color-accent-glow: hsla(200, 100%, 50%, 0.063);
  --color-accent-avatar-gradient: linear-gradient(145deg, #0a84ff 0%, #51a8ff 45%, #97c9ff 100%);

  --color-secondary: var(--m2v-red);

  --color-primary-100: hsl(0, 0%, 100%);
  --color-primary-200: hsl(200, 17%, 85%);
  --color-primary-300: hsl(223, 14%, 60%);
  --color-primary-500: hsl(215, 30%, 23%);
  --color-primary-600: hsl(215, 24%, 16%);
  --color-primary-700: hsl(219, 24%, 16%);
  --color-primary-800: hsl(215, 35%, 12%);
  --color-primary-900: hsl(229, 30%, 11%);
}

.dTGAUq {
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

h1 {
  font-size: 3.85rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

.small {
  font-size: 12px;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-primary-100);
}

.aspect-default {
  aspect-ratio: 16 / 9;
}

.bg-player {
  transition: 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0;
}

.bg-player:hover {
  opacity: 1;
}

html,
body,
#__next {
  background-color: var(--color-primary-900);
  color: var(--color-primary-100);
  font-size: 14px;
  height: 100%;
  width: 100%;
  font-family: 'Inter', 'Poppins', sans-serif;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

#nprogress .bar {
  background: var(--color-accent);
}
#nprogress .peg {
  box-shadow: 0 0 10px var(--color-accent), 0 0 5px var(--color-accent);
}

#nprogress .spinner-icon {
  border-top-color: var(--color-accent);
  border-left-color: var(--color-accent);
}

.active {
  background-color: var(--color-accent-glow);
}

.listHover:hover svg {
  color: var(--color-accent);
}

.__react_component_tooltip {
  border-radius: 5px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 12px !important;
  text-align: center !important;
  padding: 8px 10px !important;
  box-shadow: 0px 3.5px 7px rgba(0, 0, 0, 0.2) !important;
  font-weight: 500 !important;
}

.overlay-gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.rc-slider {
  position: relative;
  height: 15px;
  padding: 5px 0;
  width: 75px;
  border-radius: 5px;
  touch-action: none;
  box-sizing: border-box;
  user-select: none;
}

.rc-slider * {
  box-sizing: border-box;
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: var(--color-primary-600);
  height: 4px;
  border-radius: 6px;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: var(--color-primary-100);
}

.rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  background-color: var(--color-primary-100);
  touch-action: pan-x;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px var(--color-primary-100);
}

.rc-slider-handle:focus {
  outline: none;
}

.rc-slider-handle-click-focused:focus {
  border-color: var(--color-primary-100);
  box-shadow: unset;
}

.rc-slider-handle:hover {
  border-color: var(--color-primary-100);
}

.rc-slider-handle:active {
  border-color: var(--color-primary-100);
  box-shadow: 0 0 5px var(--color-primary-100);
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
}
.rc-slider-dot {
  position: absolute;
  bottom: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-primary-100);
  background-color: var(--color-primary-100);
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot-active {
  border-color: var(--color-primary-100);
}
.rc-slider-dot-reverse {
  margin-right: -4px;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  box-shadow: none;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-track {
  left: 5px;
  bottom: 0;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-left: -5px;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  height: 100%;
  width: 4px;
}
.rc-slider-vertical .rc-slider-dot {
  left: 2px;
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:first-child {
  margin-bottom: -4px;
}
.rc-slider-vertical .rc-slider-dot:last-child {
  margin-bottom: -4px;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  display: block !important;
  animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }

  100% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }
}

@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform-origin: 50% 100%;
    transform: scale(1, 1);
  }

  100% {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
}

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-tooltip-hidden {
  display: none;
}

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}

.rc-slider-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}

/* Option */

.select {
  position: relative;
  width: 80px;
  height: 24px;
}

.select select {
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 5px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: #242c37;
  color: #dee3ea;
  appearance: none;
}
.select select::-ms-expand {
  display: none;
}

.select select:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 5px;
  right: 5px;
  pointer-events: none;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.28137 5.39087L7.50012 9.60962L11.7189 5.39087' stroke='%23DEE3EA' stroke-width='1.40625' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/* Notify Stuff */

.toast {
  padding: 15px;
  min-width: 300px;
  max-width: 400px;
  color: var(--toast-white);
  display: flex;
  align-items: flex-start;
  line-height: 1.6;
  font-size: 14px;
  border-radius: 15px;
}

.toast.default {
  background-color: var(--toast-default);
}

.toast.success {
  background-color: var(--toast-success);
}

.toast.error {
  background-color: var(--toast-error);
}

.toast.info {
  background-color: var(--toast-info);
}

.toast.warning {
  background-color: var(--toast-warning);
}

.toast .content {
  flex: 1;
}

.toast .content p {
  padding: 0;
  margin: 0;
}

.toast .close {
  margin-left: 10px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  transition: all 100ms ease-in-out;
  border-radius: 8px;
  cursor: pointer;
}

.toast .close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.toast .icon {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.no-drag {
  -webkit-user-drag: none !important;
}

.spinnerCSS {
  border: 3px var(--color-button-text) solid;
  border-top: 3px var(--color-primary-600) solid;
  border-right: 3px var(--color-primary-600) solid;
  border-radius: 50%;
}

.reallySmall {
  font-size: 10px;
  line-height: 1;
}

.l-1 {
  line-height: 1;
}

.hoverDucDog:hover div.h-7.w-7.mr-2.rounded.bg-primary-600.grid.place-items-center {
  background-color: var(--color-primary-800);
}

.dD5d-search {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.1s ease;
}

.dD5d-search:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.4);
}

.dD5d-icon {
  display: none;
}

.dD5d-search:hover .dD5d-icon {
  display: grid;
  place-items: center;
}

.dD5d-input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.dD5d-items::-webkit-scrollbar {
  width: 5px;
}

.dD5d-items::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.dD5d-items::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}

.dD5d-items::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.2);
}

.filmlist-hover:hover {
  color: #d7b350;
}
